<input type="text" class="daterange">
<h1>Yours Registers</h1>
<%= line_chart Calory.group(:ingested_calories).sum(:burned_calories) %>
<div class="table-container">
  <%= form_tag(index_path, method: :get) do %>
  <div class="show">
    <div class="field">
      <%= search_field_tag :search, params[:params], placeholder:"comment burned", class: "form-control", class: 'input'%>
      <%= button_tag "Search", class: 'btn btn-info glyphicon glypicon-search', comment_burned: nil, class:'button is-info' %>
    </div>
  </div>
  <% end %>
    <table class="table is-primary is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <td>Burned</td>
          <td>Burned Comment </td>
          <td>Ingested</td>
          <td>Ingested Comment</td>
          <td>Create</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <% @calories.each do |calory| %>
          <tr>
            <td><%= calory.burned_calories %></td>
            <td><%= calory.comment_burned %></td>
            <td><%= calory.ingested_calories %></td>
            <td><%= calory.comment_ingested %></td>
            <td><%= calory.date %></td>
            <td><%= link_to "Edit", edit_calory_path(calory.id), class: 'button is-link is-light is-small'%></td>
            <td><%= link_to "Show", show_calory_path(calory.id), class: 'button is-info is-light is-small'%></td>
            <td><%= link_to "Destroy", destroy_calory_path(calory.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'button is-danger is-light is-small'%></td>
          </tr>
        <% end %>
    </table>
</div>
<%= paginate @calories, :window => 2 %>

<script type="text/javascript">
  $(document).ready(function() {
    $('input[class="daterange"]').daterangepicker();
  });
</script>
